
.start{
    color: #083d1f;
    font-size: 40px;
    text-decoration: underline;
    text-underline-position: under;
    text-align: right;
    font-weight: bold;
    padding-top: 50px;
    margin: 5px;

}

p{
    float: top;
    font-size: 30px;
    text-align: right;
    color: #aebda4;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.feet{
    height: 400px;
    width: 40%;
    margin-left: 350px;
    border-radius: 10px;
}

span {
    color: #083d1f;
    font-size: 40px;
    font-weight: bold;
}
.who-to{
    color: #083d1f;
    font-size: 40px;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    margin: 5px;
}
.start{
    color: #083d1f;
    font-size: 40px;
    text-decoration: underline;
    text-underline-position: under;
    text-align: right;
    font-weight: bold;
    padding-top: 50px;
    margin: 5px;

}
.block{
    float: left;
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}
.block h3 {
    font-size: 18px;
    text-decoration: underline;
    text-underline-position: under;
    color: #083d1f;
    font-weight: bold;
    text-align: center;
    margin-left: 70px;
}
.block span{
    font-size: 25px;
}
.final{
    float: right;
    color: #083d1f;
    font-size: 40px;
    text-decoration: underline;
    text-underline-position: under;
    text-align: right;
    font-weight: bold;
    padding: 10px;
    margin-right: 125px;

}
.finalp{
    padding: 25px;
    margin: 25px;
    float: right;
    text-align: right;
}
.details {
    text-align: right;
    margin: 100px;
    padding: 150px;
    color: #083d1f;
    font-size: 25px;
    font-weight: bold;
}
.details h2{
    margin-top: 20vh;
}
.details button {
    margin-top: 50px;
    margin-right: 290px;
    padding: 3%;
    color: #fffcf5;
    border-radius: 15px;
    background-color:#ad926b;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.details a:hover{
    transition: 0.5s;
    background: none;
}
.details button:hover{
    background: #4A2C2A;
    color: #ad926b;
    cursor: pointer;
}

@media screen and(max-width: 800px){

    .details button{
        width: auto;
        position: center;
    }
    .details h2{
        width: auto;
        transition: none;
        align-items: center;
    }
    .block p{
        width: 10%;
        display: flex;
    }

}