<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alef&family=Poiret+One&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Global.css">
    <link rel="stylesheet" href="../static/About.css">
    <script src="../static/Global.js" defer></script>
    <script src="../static/dynamic.js" defer></script>
    <script src="https://kit.fontawesome.com/9a83fb674c.js" crossorigin="anonymous"></script>

</head>
<body dir="rtl">
<nav class="navbar">
    <div class="brand-title"><a class="home" href="main.html">YanaYoga</a>
        <a href="https://www.instagram.com/maayanbommer.yoga/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/maayan.bommer1"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://chat.whatsapp.com/LS7ydvFMeRlLE0W2tEgXRS"><i class="fa-brands fa-whatsapp"></i></a></div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li id="login-page"><a href="Log.html">כניסה למנויים</a></li>
            <li ><a href="Contact.html">בואו נדבר</a></li>
            <li><a href="Schedule.html">מערכת שעות</a></li>
            <li><a href="Reflexlogy.html">רפלקסולוגיה</a></li>
            <li><a href="Yoga.html">יוגה</a></li>
            <li class="active"><a href="About.html">עליי</a></li>
        </ul>
    </div>
</nav>
<p>דרך היוגה למדתי <span>להתבונן</span> בעצמי ובחיי <span>בכנות מוחלטת</span><br> דרכה למדתי <span>לאהוב</span> אותי יותר וכך גם <span>את העולם</span> שסביבי<br>
    היוגה פתחה לי את הנשימה שהייתה קצרה ולחוצה<br>
    פתחה לי את בית החזה והכתפיים <br>לאחר שנים של חוסר ביטחון שכיווצו וסגרו<br>היא <span>הובילה</span> אותי <span>לעולמות חדשים</span>
</p>
<br><br>

<div class="column">
    <img src="../static/img/yogaClass.jpg" alt="class" style="width:100%">
</div>
<p class="finish-p">
    <br><span>היוגה</span> שינתה לי את <span>החיים</span> בכל כך הרבה רבדים<br> לכן אני מגיעה לכל שיעור יוגה
    שאני מלמדת או מתרגלת <br>מלאה <span>התרגשות</span> גדולה מהזכות להמשיך <span>להעניק</span> את המתנה הזאת<br>הלאה לכל תלמיד שנקרה בדרכי<br>
    מלאה התרגשות מהדבר <span>הנפלא הפשוט והקסום</span> שנקרא <span>יוגה</span>
</p>

</body>
</html>