<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>Yana</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alef&family=Poiret+One&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Global.css">
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/Global.js" defer></script>
    <script src="../static/dynamic.js" defer></script>
    <script src="https://kit.fontawesome.com/9a83fb674c.js" crossorigin="anonymous"></script>
</head>
<body dir="rtl">

<nav class="navbar">
    <div class="brand-title"><a class="home" href="main.html">YanaYoga</a>
        <a href="https://www.instagram.com/maayanbommer.yoga/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/maayan.bommer1"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://chat.whatsapp.com/LS7ydvFMeRlLE0W2tEgXRS"><i class="fa-brands fa-whatsapp"></i></a></div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li id="login-page"><a href="Log.html">כניסה למנויים</a></li>
            <li ><a href="Contact.html">בואו נדבר</a></li>
            <li><a href="Schedule.html">מערכת שעות</a></li>
            <li><a href="Reflexlogy.html">רפלקסולוגיה</a></li>
            <li><a href="Yoga.html">יוגה</a></li>
            <li><a href="About.html">עליי</a></li>

        </ul>
    </div>
</nav>

<div class="wraper">
    <div class="static">I'm</div>
    <ul class="dynamic-txt">
        <li><span> Yoga</span></li>
        <li><span> Therapy</span></li>
        <li><span> Reflexology</span></li>
        <li><span> Breath</span></li>

    </ul>
</div>
</section>
<div class="header-text">
    <p>מעיין בומר -  <span>האטה ויניאסה יוגה</span></p>
    <h1> מורה ליוגה ורפלקסולוגית בכירה</h1>
    <P>שיעורי יוגה <br>
        לאנשים רגישים<br>
        שרוצים להפחית לחץ וחרדה<br>
        ולהכניס שלווה<br>
        לתוך החיים המהירים</P>
    <br><br>
</div>

<div class="block">
    <h1>יוגה תרפיה</h1>
    <p> גישת טיפול אינטגרטיבית המשלבת כלים מעולם היוגה לטיפול בכאב וחולי גופני, נפשי ורוחני.
        הטיפול מאופיין בשילוב תנוחות גופניות, תרגילי נשימה, הרפיה ומדיטציות דרך התייחסות לידע מהרפואה המערבית</p><br>
    <img src="../static/img/yogaTherapy.jpeg" class="therapy-pic">
</div>
<div class="block">
    <h1>רפלקסולוגיה</h1>
    <p> שיטת אבחון וטיפול אלטרנטיבית. לפיה נקודות ואזורים בכף הרגל מהווים ״מפה״ מייצגת של כלל איברי ומערכות הגוף.דרך התבוננות ומגע בכף הרגל, ניתן לאבחן ולטפל תקלות במערכות הגוף השונות</p><br>
    <img src="../static/img/Reflexlogy.jpeg" class="reflex-pic">
</div>
<div class="block">
    <h1>יוגה האטה</h1>
    <p> האטה יוגה הוא זרם אחד מיני שלל רב של זרמי היוגה. לצד תרגול האסנות, הוא משלב בתוכו תרגילי נשימה ופיתוח יכולות מיקוד במצב התודעה.
        מטרת התרגול היא לעורר ולהניע פראנה (אנרגיית חיים) בגוף, ולפתח מצב מנטלי של איזון,שקט ומודעות פנימית
    </p>

    <img src="../static/img/yogaNature.jpg">
</div>

<div class="main-contact">
    <h2>מוזמנים להצטרף אליי למסע חזרה אל הבית בתוך עצמנו<br> אל השקט <br> אל הנוכחות </h2>
    <a href="Contact.html"><button> בואו נכיר</button></a>
    <div class="main-contact-sec">
        <a href="Schedule.html"><button> לתרגולים</button></a>
    </div>

</div>
</body>
</html>