<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>Weekly Schedule</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alef&family=Poiret+One&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/Global.css">
  <link rel="stylesheet" href="../static/Schedule.css ">
  <script src="../static/Global.js" defer></script>
  <script src="../static/Schedule.js" defer></script>
  <script src="../static/dynamic.js" defer></script>
  <script src="https://kit.fontawesome.com/9a83fb674c.js" crossorigin="anonymous"></script>
</head>
<body dir="rtl">

<nav class="navbar">
  <div class="brand-title"><a class="home" href="main.html">YanaYoga</a>
    <a href="https://www.instagram.com/maayanbommer.yoga/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.facebook.com/maayan.bommer1"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://chat.whatsapp.com/LS7ydvFMeRlLE0W2tEgXRS"><i class="fa-brands fa-whatsapp"></i></a></div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li id="login-page"><a href="Log.html">כניסה למנויים</a></li>
      <li ><a href="Contact.html">בואו נדבר</a></li>
      <li class="active"><a href="Schedule.html">מערכת שעות</a></li>
      <li><a href="Reflexlogy.html">רפלקסולוגיה</a></li>
      <li><a href="Yoga.html">יוגה</a></li>
      <li><a href="About.html">עליי</a></li>

    </ul>
  </div>
</nav>

<div class="container">

  <h1><i class="fa-regular fa-calendar"></i>
    מערכת שעות שבועית</h1>
  <h2>מוזמנים להרשם לשיעור </h2>

  <div class="schedule-search">
    <label for="search">חיפוש שיעור לפי תאריך</label>
    <input type="date" id="date">

    <label for="tutor">חיפוש שיעור לפי מדריך</label>
    <select name="tutor" id="tutor">
      <option value=""></option>
      <option value="יאנה">יאנה</option>
      <option value="אלנה">אלנה</option>
      <option value="דנה">דנה</option>
      <option value="ריטה">ריטה</option>
    </select>
  </div>

  <table class="schedule-container">
    <thead>
      <tr class="days-container">
        <th class="day"></th>
        <th class="day">ראשון</th>
        <th class="day">שני</th>
        <th class="day">שלישי</th>
        <th class="day">רביעי</th>
        <th class="day">חמישי</th>
        <th class="day">שישי</th>
        <th class="day">שבת</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

</body>
</html>