<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>Yoga</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alef&family=Poiret+One&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Global.css">
    <link rel="stylesheet" href="../static/Yoga.css">
    <script src="../static/Global.js" defer></script>
    <script src="../static/dynamic.js" defer></script>
    <script src="https://kit.fontawesome.com/9a83fb674c.js" crossorigin="anonymous"></script>
</head>
<body dir="rtl">

<nav class="navbar">
    <div class="brand-title"><a class="home" href="main.html">YanaYoga</a>
        <a href="https://www.instagram.com/maayanbommer.yoga/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/maayan.bommer1"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://chat.whatsapp.com/LS7ydvFMeRlLE0W2tEgXRS"><i class="fa-brands fa-whatsapp"></i></a></div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li id="login-page"><a href="Log.html">כניסה למנויים</a></li>
            <li ><a href="Contact.html">בואו נדבר</a></li>
            <li><a href="Schedule.html">מערכת שעות</a></li>
            <li><a href="Reflexlogy.html">רפלקסולוגיה</a></li>
            <li class="active"><a href="Yoga.html">יוגה</a></li>
            <li><a href="About.html">עליי</a></li>
        </ul>
    </div>
</nav>

<p class="txt">
    <span>היוגה</span> שלי <br>
    <span>משנה</span> אותי <br>
    <span>משתנה</span> איתי <br>
    <span>מלמדת</span> אותי להתבונן
    <br><br>
    <i class="fa-regular fa-circle"></i>
    <br>
    <br>
    צעד אחר צעד אני <span>פוסעת</span> בשביל פרי יצירתי <br>
    מתרגול לתרגול אני <span>משחררת</span> אנרגיה תקועה <br>
    <span>מרחיבה</span> תודעה <br>
    מעמיקה <span>נשימה</span>
    <br><br>
    <i class="fa-regular fa-circle"></i>
    <br><br>
    זוכה לעוד בהירות <br>
    לפחות מהירות<br>
    לחדוות החיים <br>
    <br>
    <i class="fa-regular fa-circle"></i>
    <br><br>

    <span>היוגה</span> שלי <br>
    <span>משנה</span> אותי <br>
    <span>משתנה</span> איתי <br>
    <span>מגלה</span> לי את המציאות כפי שהיא<br>
    <br><br>

    <img class="treepic" src="../static/img/byAtree.jpeg">

<h2 class="txt-h">אין מאושרת ממני להמשיך ולהפיץ את החוכמה משנת החיים של תרגול היוגה </h2>
</p>

<div class="details">
    <p class="txt">
        מוזמנים ליצור איתי קשר ולהכיר, לקביעת שיעור פרטי של האטה יוגה קלאסית
        <br><br>
        גם אם לא תרגלתם מעולה כי היוגה היא תרגול רוחני ולא פיזי
        <br><br>
        יש לה מקום לכולם
        <br><br>
        <i class="fa-regular fa-heart"></i>
    </p>
    <a href="Contact.html"><button> למפגש הכרות</button></a>
</div>
</body>
</html>