<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>צור קשר</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alef&family=Poiret+One&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Contact.css">
    <script src="../static/dynamic.js" defer></script>
    <script src="https://kit.fontawesome.com/9a83fb674c.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar">
    <div class="brand-title"><a class="home" href=main.html>YanaYoga</a>
        <a href="https://www.instagram.com/maayanbommer.yoga/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/maayan.bommer1"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://chat.whatsapp.com/LS7ydvFMeRlLE0W2tEgXRS"><i class="fa-brands fa-whatsapp"></i></a></div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="Log.html">כניסה למנויים</a></li>
            <li class="active"><a href="Contact.html">בואו נדבר</a></li>
            <li><a href="Schedule.html">מערכת שעות</a></li>
            <li><a href="Reflexlogy.html">רפלקסולוגיה</a></li>
            <li><a href="Yoga.html">יוגה</a></li>
            <li><a href="About.html">עליי</a></li>

        </ul>
    </div>
</nav>

<img src="../static/img/india.jpg" class="pic">
<section id="contact-section">
    <div class="container">
        <h2>מעיין בומר - יוגה ורפלקסולוגיה</h2>
        <p> שיעורים פרטיים וקבוצתיים<br>שיעורי יוגה תרפיה פרטיים בנימין מטודלה 3</p>
        <div class="contact-form">
            <div class="icons">
                <i class="fa-solid fa-location-dot"></i><span class="info">סטודיו בית העץ - אוסבלדו ארניה 35</span><br>
                <i class="fa-solid fa-phone"></i><span class="info">טלפון נייד - 054-3960499</span><br>
                <i class="fa-solid fa-envelope"></i><span class="info">maayanbommer@gmail.com</span>
            </div>
            <br><br>
            <div class="inside-form">
                <form id="contact-form">
                    <h2>:ליצירת קשר</h2>
                    <input type="text" id="Cname" placeholder="שם מלא" required>
                    <input type="Email" id="cmail" placeholder="כתובת מייל" required>
                    <input type="Phone" id="cphone" placeholder="טלפון נייד" required>
                    <input type="text" id="csubject" placeholder="נושא" required>

                    <textarea id="cmessage" name="Message" placeholder="הודעה" rows="5" required></textarea>
                    <br>
                    <button type="submit"> שליחה</button>
                </form>
            </div>
        </div>
    </div>

</section>

</body>
</html>