<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reflexology</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alef&family=Poiret+One&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Reflexlogy.css">
    <script src="../static/dynamic.js" defer></script>
    <script src="https://kit.fontawesome.com/9a83fb674c.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar">
    <!--    logo and social icons for buisness social apps-->
    <div class="brand-title"><a class="home" href="main.html">YanaYoga</a>
        <a href="https://www.instagram.com/maayanbommer.yoga/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/maayan.bommer1"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://chat.whatsapp.com/LS7ydvFMeRlLE0W2tEgXRS"><i class="fa-brands fa-whatsapp"></i></a></div>
    <!--    bar design for the responsive navbar-->
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="Log.html">כניסה למנויים</a></li>
            <li ><a href="Contact.html">בואו נדבר</a></li>
            <li><a href="Schedule.html">מערכת שעות</a></li>
            <li class="active"><a href="Reflexlogy.html">רפלקסולוגיה</a></li>
            <li><a href="Yoga.html">יוגה</a></li>
            <li><a href="About.html">עליי</a></li>
        </ul>
    </div>
</nav>
<!--body content-->
<h2 class="start">?מה זה בעצם רפלקסולוגיה </h2>
<p><span>הרפלקסולוגיה</span> היא כלי לטיפול<br> בכל הנוגע <span>לגוף</span>  הפיזי והרגשי<br> דרך עיסוי מגע <span>והתבוננות</span> בכפות הרגליים
    <br>
    <span>כף הרגל</span> שלנו מהווה מפה של כלל הגוף הפיזי <br> ואיתו גם <span>הפן הרגשי</span> הקשור לכל חלק בו<br> דרכן ניתן לראות את <span>מסע חיינו</span>
</p>

<img src="../static/img/Reflexlogy.jpeg" class="feet">
<h2 class="who-to">למי הטיפול מתאים</h2>
<div class="block">
    <h3>למי שחווה <span>קושי בפן הפיזי</span></h3>
    <p>
        ניתן לטפל דרך כפות הרגליים כמעט בהכל
        מכאב בטן/ראש שמתרחש כעת עד לכאב כרוני
        מחלות כרוניות,דלקות,חוסר איזון הורמונלי ועוד ועוד</p>
</div>
<div class="block">
    <h3>למי שמתמודד עם <span>דפוס רגשי</span> </h3>
    <p> במידת הרצון נטפל דרך העיסוי,דרך שיח והתבוננות בעולם הרגשי <br>
        נעבור תהליך עוצמתי של ריפוי החלקים הזקוקים לתשומת לב ונכיר עצמנו לעומק</p>
</div>
<div class="block">
    <h3>למי שחווה הרגשה של <span>תקיעות</span></h3>
    <p>העיסוי הרפלקסולוגי יוצר זרימה פיזית ואנרגטית בגוף מה שמאפשר זרימה טובה יותר בהיבטים אלה בחיים עצמם
        ובכך מאפשר לנו לנוע בחיים ולעבר מטרותינו ביתר בטחון,זרימה ופתיחות</p>
</div>

<h2 class="final">?מה קורה בטיפול  </h2>
<p class="finalp">טכניקת<span> הטיפול </span>באמצעות לחיצות ועיסוי<br> בכפות הרגליים. דרך הלחיצות בחלקים שונים<br>  <span>בכפות הרגליים</span> ניתן לטפל באיברים שונים<br> בגוף שיצאו מאיזון ובכך גרמו למחלות ובעיות<br>רפואיות שונות. <span>הלחיצות</span> של הרפלקסולוג מביאות<br> <span>לתנועה וזרימה</span>
    משחררות איברים ואזורים<br> שלא מתפקדים היטב <span>ומאזנות </span> בין המערכות השונות<br>
</p>

<div class="details">
    <h2>כבר ממש מתרגשת לצאת יחד למסע המופלא שלנו</h2>
    <a href="Contact.html"><button> למפגש הכרות</button></a>

</div>

</body>
</html>