<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weekly Schedule</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alef&family=Poiret+One&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/Schedule.css ">
  <script src="../static/dynamic.js" defer></script>
  <script src="https://kit.fontawesome.com/9a83fb674c.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar">
  <div class="brand-title"><a class="home" href="main.html">YanaYoga</a>
    <a href="https://www.instagram.com/maayanbommer.yoga/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.facebook.com/maayan.bommer1"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://chat.whatsapp.com/LS7ydvFMeRlLE0W2tEgXRS"><i class="fa-brands fa-whatsapp"></i></a></div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="Log.html">כניסה למנויים</a></li>
      <li ><a href="Contact.html">בואו נדבר</a></li>
      <li class="active"><a href="Schedule.html">מערכת שעות</a></li>
      <li><a href="Reflexlogy.html">רפלקסולוגיה</a></li>
      <li><a href="Yoga.html">יוגה</a></li>
      <li><a href="About.html">עליי</a></li>

    </ul>
  </div>
</nav>

<div class="container">

  <h1><i class="fa-regular fa-calendar"></i>
    מערכת שעות שבועית</h1>
  <h2>מוזמנים להרשם לשיעור </h2>
  <div class="schedule-container">
    <div class="days-container">
      <div class="day">ראשון</div>
      <div class="day">שני</div>
      <div class="day">שלישי</div>
      <div class="day">רביעי</div>
      <div class="day">חמישי</div>
      <div class="day">שישי</div>
      <div class="day">שבת</div>
    </div>

    <div class="part-day">
      <div class="time">8:00 <br> - <br> 10:00</div>
      <div class="task">
        <p>
          8:00-9:15
          <br>
          האטה יוגה
          <br>
          <button> רישום</button>
        </p>
      </div>
      <div class="task">
      </div>
      <div class="task">
        <p>
          8:00-9:15
          <br>
          יוגה תרפיה
          <br>
          <button class="contact-message"><a href="Contact.html">
            לתיאום</a></button>
      </div>
      <div class="task">
        <p>יוגה לילדים - ביה"ס מצפה</p>
      </div>
      <div class="task">
        <p>יוגה לילדים - ביה"ס מצפה</p>
      </div>
      <div class="task"></div>
      <div class="task"></div>
    </div>
    <div class="part-day">
      <div class="time">10:00 <br> - <br> 12:00</div>
      <div class="task">
        <p>יוגה לילדים - צהרונים</p>
      </div>
      <div class="task">
        <p>יוגה לילדים - צהרונים</p>
      </div>
      <div class="task"></div>
      <div class="task">
        <p>יוגה לילדים - ביה"ס מצפה</p>
      </div>
      <div class="task">
        <p>יוגה לילדים - ביה"ס מצפה</p>
      </div>
      <div class="task"></div>
      <div class="task"></div>
    </div>
    <div class="part-day">
      <div class="time">12:00 <br> - <br> 16:00</div>
      <div class="task">
        <p>יוגה לילדים - צהרונים</p>
      </div>
      <div class="task">
        <p>יוגה לילדים - צהרונים</p>
      </div>
      <div class="task">
        <p>יוגה לילדים - צהרונים</p>
      </div>
      <div class="task"></div>
      <div class="task"></div>
      <div class="task"></div>
      <div class="task"></div>
    </div>
    <div class="part-day">
      <div class="time">16:00<br> - <br> 18:00</div>
      <div class="task"></div>
      <div class="task"></div>
      <div class="task"></div>
      <div class="task"> <p>
        <br>
        רפלקסולוגיה
        <br>
        <button class="contact-message"><a href="Contact.html">
          לתיאום</a></button>
      </p>
      </div>
      <div class="task"></div>
      <div class="task"></div>
      <div class="task"></div>
    </div>
    <div class="part-day">
      <div class="time">18:00 <br> - <br> 22:00</div>
      <div class="task">
        <p>
          19:00-20:15
          האטה יוגה
          <button> רישום</button>
        </p>
      </div>
      <div class="task">
        <p>
          20:00-21:15
          האטה יוגה
          <button> רישום</button>
        </p>
      </div>
      <div class="task">
        <p>
          19:00-20:15
          האטה יוגה
          <button> רישום</button>

        </p>
      </div>
      <div class="task"><p>
        <br>
        רפלקסולוגיה
        <br>
        <button class="contact-message"><a href="Contact.html">
          לתיאום</a></button>
      </p>
      </div>
      <div class="task"></div>
      <div class="task"></div>
      <div class="task"></div>
    </div>
  </div>
</div>

</body>
</html>